html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

html, body {
  font-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover, a:active {
  outline: 0;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -webkit-font-feature-settings: "kern", "liga", "frac", "pnum";
  -moz-font-feature-settings: "kern", "liga", "frac", "pnum";
  -ms-font-feature-settings: "kern", "liga", "frac", "pnum";
  font-feature-settings: "kern", "liga", "frac", "pnum";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #0e2f43;
  font-family: 'Open Sans', sans-serif;
}

/* INTRO */
#content {
  z-index: 100;
}

#headliner {
  padding: 24px 0 24px 0;
}

#work-links {
  padding: 24px 0 24px 0;
}

#the-rest {
  padding: 24px 0 24px 0;
}

#photo {
  overflow-x: hidden;
  position: absolute;
  top: 0;
  z-index: -100;
}

/* CASE STUDY */
#flex-container {
  display: flex;
  background-color: #F8F8F8;
}

#case-study img {
  width: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
}

#right-side {
  width: 50%;
  /*background-color: #73CBFF;*/
}

#end {
  padding: 64px 0 64px 0;
}

.back-to-top {
  position: fixed;
  top: 24px;
  right: 24px;
  z-index: -200;
}

/* DESKTOP HD*/
/*@media screen and (min-width: 2000px) {
  #photo {
    right: 0px;
  }
  body {
    background-color: green;
  }
}*/

/*@media screen and (max-width: 1999px) && (min-width: 1896px) {
  #photo {
    left: 800px;
  }
  body {
    background-color: red;
  }
}*/

/*@media screen and (min-width: 1201px) {
  body {
    background-color: red;
  }
  #case-study {
    width: 100%;
  }
}*/

/* DESKTOP */
@media screen and (min-width: 1200px) {
  #content {
    width: 64%;
    padding: 104px 48px 104px 12%;
  }
  .headline {
    width: 75%;
    font-size: 96px;
    line-height: 124px;
  }
  #work-links a {
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 16px;
  }
  .byline {
    font-size: 18px
  }
  #photo {
    padding-top: 104px;
    right: 0;
    width: 50%;
  }
  #case-study {
    /*width: 64%;*/
    padding: 124px 48px 104px 12%;
  }
}

/*MID*/
@media screen and (max-width: 1200px) {
  #content {
    padding: 104px 48px 104px 48px;
  }
  .headline {
    font-size: 80px;
    line-height: 96px;
  }
  #work-links a {
    font-size: 64px;
    line-height: 96px;
    margin-bottom: 16px;
  }
  #photo {
    display: none;
  }
  #right-side {
    display: none;
  }
  #case-study {
    width: 100%;
    padding: 104px 48px 104px 48px;
  }
}

/* TABLET */
@media screen and (max-width: 1000px) {
  body {
    /*width: 80%;*/
  }
  .headline {
    font-size: 80px;
    line-height: 96px;
  }
  #photo {
    display: none;
  }
  #right-side {
    display: none;
  }
  #case-study {
    width: 100%;
  }
}

/* PHONE */
@media screen and (max-width: 800px) {
  #content {
    padding: 32px 16px 32px 16px;
    width: auto;
  }
  .headline {
    font-size: 48px;
    line-height: 56px;
  }
  #work-links a {
    font-size: 48px;
    line-height: 56px;
  }
  #the-rest {
    width: auto;
  }
  #case-study {
    padding: 32px 16px 32px 16px;
  }
  #case-study img {
    padding: 24px 0 24px 0;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }
}

/* TYPOGRAPHY */
/* most sizing is in media queries though */
.headline {
  font-weight: 600;
  font-size: 96px;
  margin-bottom: 16px;
}

#headliner {
  font-family: 'Lora', serif;
}

#work-links a {
  font-weight: 100;
}

.case-title {
  font-family: 'Lora', serif;
  font-weight: 600;
  font-size: 32px;
}

.case-intro {
  padding-top: 24px;
}

p {
  margin-bottom: 24px;
  line-height: 36px;
  font-size: 24px;
  font-weight: 100;
}

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  text-decoration: none;
  color: #73CBFF;
}

a:hover {
  color: #229FE9;
}


/* FADE IN */
/*body {
  -webkit-animation: backgroundfade 1s;
     -moz-animation: backgroundfade 1s;
      -ms-animation: backgroundfade 1s;
       -o-animation: backgroundfade 1s;
          animation: backgroundfade 1s;
          animation-timing-function: ease-in-out;
}*/

#title {
  -webkit-animation: fadein 0.1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 0.1s; /* Firefox < 16 */
      -ms-animation: fadein 0.1s; /* Internet Explorer */
       -o-animation: fadein 0.1s; /* Opera < 12.1 */
          animation: fadein 0.1s;
          animation-timing-function: ease-in-out;
}

#headliner {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1s; /* Firefox < 16 */
      -ms-animation: fadein 1s; /* Internet Explorer */
       -o-animation: fadein 1s; /* Opera < 12.1 */
          animation: fadein 1s;
          animation-timing-function: ease-in-out;
}

#work-links {
  -webkit-animation: slowerfadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: slowerfadein 1.5s; /* Firefox < 16 */
      -ms-animation: slowerfadein 1.5s; /* Internet Explorer */
       -o-animation: slowerfadein 1.5s; /* Opera < 12.1 */
          animation: slowerfadein 1.5s;
          animation-timing-function: ease-in-out;
}

#the-rest {
  -webkit-animation: slowerfadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: slowerfadein 2s; /* Firefox < 16 */
      -ms-animation: slowerfadein 2s; /* Internet Explorer */
       -o-animation: slowerfadein 2s; /* Opera < 12.1 */
          animation: slowerfadein 2s;
          animation-timing-function: ease-in-out;
}

#photo {
  -webkit-animation: slowerfadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: slowerfadein 2s; /* Firefox < 16 */
      -ms-animation: slowerfadein 2s; /* Internet Explorer */
       -o-animation: slowerfadein 2s; /* Opera < 12.1 */
          animation: slowerfadein 2s;
          animation-timing-function: ease-in-out;
}

#case-study {
  -webkit-animation: slowerfadein 3s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: slowerfadein 3s; /* Firefox < 16 */
      -ms-animation: slowerfadein 3s; /* Internet Explorer */
       -o-animation: slowerfadein 3s; /* Opera < 12.1 */
          animation: slowerfadein 3s;
          animation-timing-function: ease-in-out;
}

.back-to-top {
  -webkit-animation: slowerfadein 3s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: slowerfadein 3s; /* Firefox < 16 */
      -ms-animation: slowerfadein 3s; /* Internet Explorer */
       -o-animation: slowerfadein 3s; /* Opera < 12.1 */
          animation: slowerfadein 3s;
          animation-timing-function: ease-in-out;
}

/*@keyframes backgroundfade {
from { background-color: #F8F8F8; }
to   { background-color: white; }
}*/

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

@keyframes slowerfadein {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
